<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.lovebike"> <!-- 패키지 추가 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.Lovebike">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZmbsUpURvPkh6TWeiQCHyAhkYhluQNfk" />

        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 라이딩 화면 -->
        <activity android:name=".TrackingActivity" />
        <activity android:name=".HistoryActivity" />

        <activity android:name=".OwnerFaceActivity" />


    </application>

</manifest>
